<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/c_sharp.ico" />
    <title>@ViewBag.Title - WinNotes</title>
    @Styles.Render("~/Content/css", "~/jquery-ui-1.12.1.custom/jquery-ui.css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="border-bottom: 1px solid gray; background: linear-gradient(#18bc9c, #05ac8c);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                <a id="Logo" class="navbar-brand logo-nav" title="Página de inicio" href="@Url.Action("Index", "Home")">WN</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="navigation">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Temas<span class="caret"></span></a>
                        <ul id="themes" class="dropdown-menu" role="menu">
                            <li><a href="#"><i>*Solo para probar*</i></a></li>
                            <li class="divider"></li>
                            <li><button type="button" data-color="cerulean">Cerulean</button></li>
                            <li><button type="button" data-color="slate">Slate (dark)</button></li>
                            <li><button type="button" data-color="flatly">Flatly (por defecto)</button></li>
                            <li><button type="button" data-color="superhero">Superhero (dark)</button></li>
                            <li><button type="button" data-color="united">United</button></li>
                            <li><button type="button" data-color="yeti">Yeti</button></li>
                            <li class="divider"></li>
                            <li><a href="#"><i>*Solo para probar*</i></a></li>
                        </ul>
                    </li>
                </ul>
                @*@Html.Partial("_SearchBox")*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>    
    <div class="container body-content">
        @RenderBody()        
        <div id="MainDialog"></div>        
    </div>
    <footer class="col-md-12">
        <div class="container">
            <div class="col-md-2 text-center">
                <h3></h3>
                <p class="logo-footer">WN</p>
                <p>&copy; WinNotes - @DateTime.Now.Year</p>
            </div>
            <div class="col-md-3 text-center">
                <h3>LEGAL</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h3>CONTACTO</h3>
                <ul class="list-unstyled">
                    <li>Soporte: <a href="#">Soporte@winnotes.com</a></li>
                    <li>Marketing: <a href="#">Marketing@winnotes.com</a></li>
                    <li>Buenos Aires, Argentina <span class="glyphicon glyphicon-map-marker"></span></li>
                </ul>
            </div>            
            <div class="col-md-3 social-media text-center">
                <h3>REDES SOCIALES</h3>
                <p>
                    <a href="https://www.facebook.com/"><img src="~/Content/Images/social_media/1495840813_facebook_circle.png" width="32" alt="facebook" /></a>
                    <a href="https://twitter.com/"><img src="~/Content/Images/social_media/1495840731_twitter_circle.png" width="32" alt="twitter" /></a>
                    <a href="https://www.youtube.com/"><img src="~/Content/Images/social_media/1495840705_youtube.png" width="32" alt="youtube" /></a>
                    <a href="https://www.instagram.com/"><img src="~/Content/Images/social_media/1495840698_instagram.png" width="32" alt="instagram" /></a>
                    <a href="https://github.com/"><img src="~/Content/Images/social_media/1495840711_github.png" width="32" alt="github" /></a>
                </p>
            </div>
        </div>
    </footer>

    @if (TempData["error"] != null)
    {
        <div class="message-result">
            <button type="button" class="close">&times;</button>
            <p>@TempData["error"]</p>
        </div>
    }

    @Scripts.Render("~/bundles/jquery", "~/jquery-ui-1.12.1.custom/jquery-ui.js", "~/bundles/bootstrap")    
    @Scripts.Render("~/Scripts/application.js")
    @if (Session["UserLoggedIn"] == null)
    {
        @Scripts.Render("~/bundles/jqueryval", "~/Scripts/application/register-form.js", "~/Scripts/application/login-form.js");
    }            
    @RenderSection("custom_scripts", required: false)
    <button id="ToTop" class="btn btn-primary" onclick="goTop();"><span class="glyphicon glyphicon-arrow-up"></span></button>
</body>
</html>