<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/c_sharp.ico" />
    <title>@ViewBag.Title - WinNotes</title>
    @Styles.Render("~/Content/css", "~/jquery-ui-1.12.1.custom/jquery-ui.css")    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="border-bottom: 1px solid gray; background: linear-gradient(#18bc9c, #05ac8c);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                <a id="Logo" class="navbar-brand logo-nav" title="Página de inicio" href="@Url.Action("Index", "Home")">WN</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="navigation">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu 1 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Acceso 1</a></li>
                            <li><a href="#">Acceso 2</a></li>
                            <li><a href="#">Acceso 3</a></li>
                            <li><a href="#">Acceso 4</a></li>
                            <li><a href="#">Acceso 5</a></li>
                            <li><a href="#">Acceso 6</a></li>
                        </ul>
                    </li>
                    <li class="navigation">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu 2 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Acceso 1</a></li>
                            <li><a href="#">Acceso 2</a></li>
                            <li><a href="#">Acceso 3</a></li>
                            <li><a href="#">Acceso 4</a></li>
                            <li><a href="#">Acceso 5</a></li>
                            <li><a href="#">Acceso 6</a></li>
                        </ul>
                    </li>
                    <li class="navigation">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu 3 <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Acceso 1</a></li>
                            <li><a href="#">Acceso 2</a></li>
                            <li><a href="#">Acceso 3</a></li>
                            <li><a href="#">Acceso 4</a></li>
                            <li><a href="#">Acceso 5</a></li>
                            <li><a href="#">Acceso 6</a></li>
                        </ul>
                    </li>                    
                    <li class="navigation">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Temas<span class="caret"></span></a>
                        <ul id="themes" class="dropdown-menu" role="menu">
                            <li><a href="#" data-color="default">Default</a></li>
                            <li><a href="#" data-color="slate">Slate (dark)</a></li>
                            <li><a href="#" data-color="superhero">Superhero (dark)</a></li>
                            <li><a href="#" data-color="united">United</a></li>
                            <li><a href="#" data-color="yeti">Yeti</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">                    
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_SearchBox")*@
                @Html.Partial("_LoginPartial", new ProbandoTodo.Models.UserData())
            </div>
        </div>
    </div>    
    <div class="container body-content">
        @RenderBody()        
        <div id="MainDialog"></div>
    </div>
    <footer class="col-md-12">
        <div class="container">
            <div class="col-md-2">
                <h3></h3>
                <p class="logo-footer">WN</p>
                <p>&copy; WinNotes - @DateTime.Now.Year</p>
                <p>Buenos Aires</p>
                <p>Argentina</p>
            </div>
            <div class="col-md-3">
                <h3 class="text-center">LEGAL</h3>
                <ul>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>CONTACTO</h3>
                <ul>
                    <li>One Microsoft Way</li>
                    <li>Redmond, WA 98052-6399</li>
                    <li>Teléfono: 425.555.0100</li>
                </ul>
                <br />
                <ol type="I">
                    <li>Soporte: <a href="#">Soporte@winnotes.com</a></li>
                    <li>Marketing: <a href="#">Marketing@winnotes.com</a></li>
                </ol>
            </div>            
            <div class="col-md-3 social-media">
                <h3>REDES SOCIALES</h3>
                <ol>
                    <li><img src="~/Content/Images/social_media/1495840813_facebook_circle.png" width="32" alt="facebook" /> &nbsp; <a href="https://www.facebook.com/">Facebook</a></li>
                    <li><img src="~/Content/Images/social_media/1495840731_twitter_circle.png" width="32" alt="twitter" /> &nbsp; <a href="https://twitter.com/">Twitter</a></li>
                    <li><img src="~/Content/Images/social_media/1495840725_social-03.png" width="32" alt="google+" /> &nbsp; <a href="https://plus.google.com/?hl=es">Google+</a></li>
                    <li><img src="~/Content/Images/social_media/1495840705_youtube.png" width="32" alt="youtube" /> &nbsp; <a href="https://www.youtube.com/">Youtube</a></li>
                    <li><img src="~/Content/Images/social_media/1495840698_instagram.png" width="32" alt="instagram" /> &nbsp; <a href="https://www.instagram.com/">Instagram</a></li>
                    <li><img src="~/Content/Images/social_media/1495840711_github.png" width="32" alt="github" /> &nbsp; <a href="https://github.com/">Github</a></li>
                    <li><img src="~/Content/Images/social_media/1495840719_reddit.png" width="32" alt="reddit" /> &nbsp; <a href="https://www.reddit.com/">Reddit</a></li>
                </ol>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap")
    @Scripts.Render("~/jquery-ui-1.12.1.custom/jquery-ui.js", "~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/application.js")
    @RenderSection("custom_scripts", required: false)
    <button id="ToTop" class="btn btn-primary" onclick="topFunction();"><span class="glyphicon glyphicon-arrow-up"></span></button>
</body>
</html>