@using ProbandoTodo.Models
@model LoginModel

<div id="LoginDialog" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="glyphicon glyphicon-user"></i> Iniciar sesión</h4>
            </div>        
        @using(Ajax.BeginForm("Login", "User",
            new { urlPath = HttpContext.Current.Request.UrlReferrer },
            new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "MainDialog", InsertionMode = InsertionMode.Replace, OnSuccess = "loginComplete", OnFailure = "loginFailed" },
            htmlAttributes: new { id = "LoginForm", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="modal-body">                
                <div class="form-group">
                    <label class="control-label">E-mail:</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-sm", placeholder = "Escribir correo...", maxlength = "30", autofocus = true })                    
                </div>
                <div class="form-group">
                    <label class="control-label">Contraseña:</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-sm", placeholder = "Escribir contraseña..." })                    
                </div>                
                <div class="form-group">
                    <label class="provider-radio">
                        @Html.CheckBoxFor(m => m.RememberMe)
                         Recordarme
                    </label>
                </div>
            </div>
            <div class="modal-footer">                
                <button type="submit" class="btn btn-success">Entrar</button>
            </div>
        }
        </div>
    </div>
</div>

<script type="text/javascript">addScripts("/Scripts/jquery.validate.min.js");</script>
<script type="text/javascript">addScripts("/Scripts/jquery.validate.unobtrusive.min.js");</script>
<script type="text/javascript">addScripts("/Scripts/jquery.unobtrusive-ajax.min.js");</script>
<script type="text/javascript">addScripts("/Scripts/application/login-form.js");</script>