@model ProbandoTodo.Models.ProfileManagementModels.PersonalPhraseViewModel

<div id="PersonalMessageDialog">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h3>Mi mensaje personal:</h3>
                    @Html.TextAreaFor(m => m.PersonalPhrase, new { @class = "form-control", placeholder = "Escriba un mensaje personal..." })
                    @Html.ValidationMessageFor(m => m.PersonalPhrase)
                </div>
            </div>
            <div class="row action-area">
                <div class="col-md-6">                    
                    <label class="available-chars">140</label>
                </div>
                <div class="col-md-6 text-right">
                    <button id="UndoPhrase" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-menu-left"></span> Deshacer</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="AvailableColors" data-color="@Model.PhraseColor">
                <h4>Colores disponibles:</h4>
                @foreach (var c in Model.AvailableColors)
                {
                    if (c.Color != Model.PhraseColor)
                    {
                        <label class="color-box-wizard" id="@c.Color" title="@c.Name"></label>
                    }
                    else
                    {
                        <label class="color-box-wizard" id="@c.Color" title="@c.Name">&#10004;</label>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-2"></div>
        <div class="text-center col-md-8">
            <p id="TestPhrase" class="wizard-phrase">@Model.PersonalPhrase</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>