@model ProbandoTodo.Models.ProfileManagementModels.PersonalPhraseViewModel

@using (Html.BeginForm("PersonalPhrase", "User", FormMethod.Post, new { id = "PersonalPhraseForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <label class="label label-default">MENSAJE PERSONAL</label>    
    <div class="panel panel-primary profile-section phrase-box-style">
        @Html.TextAreaFor(m => m.PersonalPhrase, new { @class = "form-control personal-phrase phrase-color-effect", placeholder = "Escriba un mensaje personal..." })
        <div class="well-box">            
            @Html.HiddenFor(m => m.PhraseColor)
            <button type="submit" class="btn btn-success">Publicar</button>
            <label class="available-chars">140</label>

            @foreach (var c in Model.AvailableColors)
            {
                <label for="@c.Color" class="color-box" title="@c.Name"></label>
                <input type="radio" value="@c.Color" id="@c.Color" name="pColor" />
            }
        </div>
    </div>
}